[submodule "src/lidar/lib/rplidar_sdk"]
	path = src/lidar/lib/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk
[submodule "src/core/lib/eigen"]
	path = src/core/lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
