[submodule "src/lidar/lib/rplidar_sdk"]
	path = src/lidar/lib/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk
[submodule "matplotplusplus"]
	path = src/slam/lib/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus/
